/* Reset */

    body, h1, h2, h3, p, ul {
        padding: 0px;
        margin: 0px;
    }

    body {
        font-family: Georgia, serif;
        color: #252525;
    }
    
    /* css */
    
    body {
        background-color: #cfe6c6;
    }

    h1 {
        text-align: center;
    }

    #titulo {
        background-color: #3a7921;
        color: #e6e4e4;
        margin-bottom: 60px;
        padding: 20px;
        border-bottom: #1a531a solid 5px;
        font-style: italic;
    }

    .container {
        width: 960px;
        margin: 0 auto;
    }
    .usuarioAdicionado {
        margin: 0;
        width: 320px;
        height: 300px;
        float: left;
        text-align: center;
    }

    .usuarioAdicionado h2{
        font-size: 1.5em;
        margin: 10px 0; 
    }

    .usuarioAdicionado img {
        border-radius: 50%;
        border: #59754e solid 1px;
        width: 130px;
        height: 140px;
    }

    @media (max-width: 960px) {
        .container {
            width: 640px;
        }

        
        @media (max-width: 640px) {
            .container {
                width: 320px;
            }
        }
    }